@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");

*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    --primary-color: black;
    --primary-blue:#0093E9;
    --secondary-blue:#80D0C7;

}


body{
    display: grid;
    place-content: center;
    row-gap: 0.9rem;
    padding: 1rem;
    background-image: linear-gradient(90deg, var(--primary-blue) 0%, var(--secondary-blue)  100%);

}

h1{
    margin: auto;
}

.inputInfo{
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background-color: #E5E7EB;

}
.btn-translate{
    padding: 1rem;
    width: fit-content;
    margin: auto;
    color: var(--primary-color);
    border-radius: 9px;
    border-color: var(--primary-color);
    padding: 1rem;
    background-color: transparent;
    font-weight: 700;
}

button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-blue);
}

.info{
    width: 35vw;
    text-align: justify;
    font-weight: 600;
}